In [1]:
import pandas as pd
# !pip install xlrd

file_paths = {
    'achievement_ratings_15_16': r'C:\Users\sdnea\Documents\Data Science\CMSD Project\_Building Achievement Ratings 2015-2016.xlsx.xls',
    'achievement_ratings_16_17': r'C:\Users\sdnea\Documents\Data Science\CMSD Project\_Building Achievement Ratings 2016-2017.xlsx.xls',
    'achievement_ratings_17_18': r'C:\Users\sdnea\Documents\Data Science\CMSD Project\_Building Achievement Ratings 2017-2018.xlsx',
    'overview_17_18': r'C:\Users\sdnea\Documents\Data Science\CMSD Project\_Building Overview 2017-2018.xlsx',
    'ratings_15_16': r'C:\Users\sdnea\Documents\Data Science\CMSD Project\_Building Ratings 2015-2016.xls',
    'ratings_16_17': r'C:\Users\sdnea\Documents\Data Science\CMSD Project\_Building Ratings 2016-2017.xls',
    'value_added_15_16': r'C:\Users\sdnea\Documents\Data Science\CMSD Project\_Building Value Added 2015-2016.xls',
    'value_added_16_17': r'C:\Users\sdnea\Documents\Data Science\CMSD Project\_Building Value Added 2016-2017.xls',
    'value_added_17_18': r'C:\Users\sdnea\Documents\Data Science\CMSD Project\_Building Value Added 2017-2018.xlsx',
}

# Load each file into a DataFrame and store it in a dictionary
all_df = {name: pd.read_excel(path) for name, path in file_paths.items()}

# Iterate over the DataFrames to print column names
for name, dataframe in all_df.items():
    print(f"Columns in {name}: {dataframe.columns.tolist()}\n")

# Column names are then taken to a Google Doc (included in email) and editied to only include relevant columns

Columns in achievement_ratings_15_16: ['Building IRN', 'Building Name', 'District IRN', 'District Name', 'County', 'Region', 'Address', 'City and Zip Code', 'Phone #', 'Principal', 'Performance Index Score 2015-16', 'Performance Index Percent 2015-16', 'Letter Grade of Performance Index', 'Percent of Students Not Tested', 'Percent of Students Below', 'Percent of Students Basic', 'Percent of Students Proficient', 'Percent of Students Accelerated', 'Percent of Students Advanced', 'Percent of Students Advanced Plus', 'Gifted Performance Index Score 2015-16', 'Gifted Performance Index 2015-16', 'Percent of Gifted Students Not Tested', 'Percent of Gifted Students Below', 'Percent of Gifted Students Basic', 'Percent of Gifted Students Proficient', 'Percent of Gifted Students Accelerated', 'Percent of Gifted Students Advanced', 'Percent of Gifted Students Advanced Plus', 'Performance Index Score 2014-15', 'Performance Index Score 2013-14', 'Watermark']

Columns in achievement_ratings_16_17: ['Building IRN', 'Building Name', 'District IRN', 'District Name', 'County', 'Region', 'Address', 'City and Zip Code', 'Phone #', 'Principal', 'Performance Index Score 2016-17', 'Performance Index Percent 2016-17', 'Letter Grade of Performance Index', 'Percent of Students Not Tested', 'Percent of Students Below', 'Percent of Students Basic', 'Percent of Students Proficient', 'Percent of Students Accelerated', 'Percent of Students Advanced', 'Percent of Students Advanced Plus', 'Gifted Performance Index Score 2016-17', 'Gifted Performance Index 2016-17', 'Percent of Gifted Students Not Tested', 'Percent of Gifted Students Below', 'Percent of Gifted Students Basic', 'Percent of Gifted Students Proficient', 'Percent of Gifted Students Accelerated', 'Percent of Gifted Students Advanced', 'Percent of Gifted Students Advanced Plus', 'Performance Index Score 2015-16', 'Performance Index Score 2014-15', 'Watermark']

Columns in achievement_ratings_17_18: ['Building IRN', 'Building Name', 'District IRN', 'District Name', 'County', 'Region', 'Address', 'City and Zip', 'Phone Number', 'Principal', 'Performance Index Score 2017-18', 'Performance Index Score 2016-17', 'Performance Index Score 2015-16', 'Performance Index Percent 2017-18', 'Letter Grade of Performance Index', 'Percent of Students Not Tested', 'Percent of Students Limited', 'Percent of Students Basic', 'Percent of Students Proficient', 'Percent of Students Accelerated', 'Percent of Students Advanced', 'Percent of Students Advanced Plus', 'Gifted Performance Index Score 2017-18', 'Gifted Performance Index Percent 2017-18', 'Percent of Gifted Students Not Tested', 'Percent of Gifted Students Limited', 'Percent of Gifted Students Basic', 'Percent of Gifted Students Proficient', 'Percent of Gifted Students Accelerated', 'Percent of Gifted Students Advanced', 'Percent of Gifted Students Advanced Plus', 'Watermark']

Columns in overview_17_18: ['District IRN', 'District Name', 'Building IRN', 'Building Name', 'County', 'Region', 'Address', 'City, State, Zip', 'Phone', 'Principal', 'Enrollment 2017-2018', 'Overall Grade', 'Achievement Component Grade', 'Indicators Met Grade', 'Gifted Indicator Met/Not Met Status', 'Percent of Indicators Met', 'Performance Index Grade', 'Performance Index Percent', 'Gap Closing Grade', 'Gap Closing Points', 'Improving At-Risk K3 Readers Grade', 'Improving At-Risk K3 Readers Percent', 'Progress Component Grade', 'Overall Subgroup Value-Added Grade', 'Overall Subgroup Value-Added Gain Index', 'Gifted Subgroup Value-Added Grade', 'Gifted Subgroup Value-Added Gain Index', 'SWD Subgroup Value-Added Grade', 'SWD Subgroup Value-Added Gain Index', 'Lowest 20% Subgroup Value-Added Grade', 'Lowest 20% Subgroup Value-Added Gain Index', 'Grad Rate Component Grade', 'Letter Grade of 4 Year Grad Rate 2017', '4 Year Grad Rate 2017', 'Letter Grade of 5 Year Grad Rate 2016', '5 Year Grad Rate 2016', 'Prepared for Success Component Grade', 'Prepared for Success Component Percent', 'Attendance Rate 2017-2018', 'Attendance Rate 2016-2017', 'Attendance Rate 2015-2016', 'Chronic Absenteeism Percent 2017-2018', 'Watermark']

Columns in ratings_15_16: ['District IRN', 'District Name', 'Building IRN', 'Building Name', 'County', 'Region', 'Address', 'City, State, Zip', 'Phone', 'Principal', 'Enrollment 2015-2016', 'Letter Grade of Achievement Component', 'Letter Grade of Percent Standards', 'Gifted Indicator Met/Not Met Status', 'Percent of Standards Met', 'Letter Grade of Performance Index', 'Performance Index Percent', 'Letter Grade of AMO', 'AMO Points', 'Letter Grade of K3 Literacy', 'K3 Literacy Percent', 'Letter Grade of Progress Component', 'Letter Grade of Overall Value Added', 'Overall Value Added Gain Index', 'Letter Grade of Gifted Value Added', 'Gifted Value Added Gain Index', 'Letter Grade of Students with Disabilities Value Added', 'Students with Disabilities Value Added Gain Index', 'Letter Grade of Lowest 20% Value Added', 'Lowest 20% Value Added Gain Index', 'Letter Grade of High Mobility Value Added', 'High Mobility Value Added Gain Index', 'Letter Grade of Grad Rate Component', 'Letter Grade of 4Year Grad Rate 2015', '4 Year Grad Rate 2015', 'Letter Grade of 5 Year Grad Rate 2014', '5 Year Grad Rate 2014', 'Letter Grade of Prepared for Success Component', 'Percent of Prepared for Success Component', 'Attendance Rate 2015-2016', 'Attendance Rate 2014-2015', 'Attendance Rate 2013-2014', 'Chronic Absenteeism Percent 2015-2016', 'Watermark']

Columns in ratings_16_17: ['District IRN', 'District Name', 'Building IRN', 'Building Name', 'County', 'Region', 'Address', 'City, State, Zip', 'Phone', 'Principal', 'Enrollment 2016-2017', 'Letter Grade of Achievement Component', 'Letter Grade of Percent Standards', 'Gifted Indicator Met/Not Met Status', 'Percent of Standards Met', 'Letter Grade of Performance Index', 'Performance Index Percent', 'Letter Grade of AMO', 'AMO Points', 'Letter Grade of K3 Literacy', 'K3 Literacy Percent', 'Letter Grade of Progress Component', 'Letter Grade of Overall Value Added', 'Overall Value Added Gain Index', 'Letter Grade of Gifted Value Added', 'Gifted Value Added Gain Index', 'Letter Grade of Students with Disabilities Value Added', 'Students with Disabilities Value Added Gain Index', 'Letter Grade of Lowest 20% Value Added', 'Lowest 20% Value Added Gain Index', 'Letter Grade of High Mobility Value Added', 'High Mobility Value Added Gain Index', 'Letter Grade of Grad Rate Component', 'Letter Grade of 4Year Grad Rate 2016', '4 Year Grad Rate 2016', 'Letter Grade of 5 Year Grad Rate 2015', '5 Year Grad Rate 2015', 'Letter Grade of Prepared for Success Component', 'Percent of Prepared for Success Component', 'Attendance Rate 2016-2017', 'Attendance Rate 2015-2016', 'Attendance Rate 2014-2015', 'Chronic Absenteeism Percent 2016-2017', 'Watermark']

Columns in value_added_15_16: ['District IRN', 'District Name', 'Building IRN', 'Building Name', 'County', 'Region', 'Overall Value Added Grade', 'Overall Composite', 'Gifted Value Added Grade', 'Gifted Composite', 'Students with Disabilities Value Added Grade', 'Students with Disabilities composite', 'Lowest 20% Value Added Grade', 'Lowest 20% Value Added Composite', 'High Mobility Value Added Grade', 'High Mobility Composite', 'Watermark']

Columns in value_added_16_17: ['District IRN', 'District Name', 'Building IRN', 'Building Name', 'County', 'Region', 'Overall Value Added Grade', 'Overall Composite', 'Gifted Value Added Grade', 'Gifted Composite', 'Students with Disabilities Value Added Grade', 'Students with Disabilities composite', 'Lowest 20% Value Added Grade', 'Lowest 20% Value Added Composite', 'High Mobility Value Added Grade', 'High Mobility Composite', 'Watermark']

Columns in value_added_17_18: ['District IRN', 'District Name', 'Building IRN', 'Building Name', 'County', 'Region', 'Overall Value Added Grade', 'Overall Composite', 'Gifted Value Added Grade', 'Gifted Composite', 'Students with Disabilities Value Added Grade', 'Students with Disabilities Composite', 'Lowest 20% Value Added Grade', 'Lowest 20% Value Added Composite', 'High Mobility Value Added Grade', 'High Mobility Composite', 'Watermark']

C:\Users\sdnea\anaconda3\Lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

In [2]:
# Define the columns to keep for each dataset
columns_to_keep = {
    'achievement_ratings_15_16': ['Building IRN', 'Building Name', 'District IRN', 'District Name', 'Address', 'City and Zip Code', 'Principal', 'Performance Index Percent 2015-16'],
    'achievement_ratings_16_17': ['Building IRN', 'Building Name', 'District IRN', 'District Name', 'Address', 'City and Zip Code', 'Principal', 'Performance Index Percent 2016-17'],
    'achievement_ratings_17_18': ['Building IRN', 'Building Name', 'District IRN', 'District Name', 'Address', 'City and Zip', 'Principal', 'Performance Index Percent 2017-18'],
    'overview_17_18': ['District IRN', 'District Name', 'Building IRN', 'Building Name', 'Address', 'City, State, Zip', 'Principal', 'Enrollment 2017-2018', 'Performance Index Percent'],
    'ratings_15_16': ['District IRN', 'District Name', 'Building IRN', 'Building Name', 'Address', 'City, State, Zip', 'Principal', 'Enrollment 2015-2016', 'Performance Index Percent', 'Letter Grade of Overall Value Added'],
    'ratings_16_17': ['District IRN', 'District Name', 'Building IRN', 'Building Name', 'Address', 'City, State, Zip', 'Principal', 'Enrollment 2016-2017', 'Performance Index Percent'],
    'value_added_15_16': ['District IRN', 'District Name', 'Building IRN', 'Building Name', 'Overall Value Added Grade'],
    'value_added_16_17': ['District IRN', 'District Name', 'Building IRN', 'Building Name', 'Overall Value Added Grade'],
    'value_added_17_18': ['District IRN', 'District Name', 'Building IRN', 'Building Name', 'Overall Value Added Grade']
}

# Update each DataFrame in the all_df dictionary to only keep specified columns
for name, dataframe in all_df.items():
    all_df[name] = dataframe.loc[:, columns_to_keep[name]]

# Verify only the desired columns are left
for name, dataframe in all_df.items():
    print(f"Columns in {name} after update: {dataframe.columns.tolist()}\n")

Columns in achievement_ratings_15_16 after update: ['Building IRN', 'Building Name', 'District IRN', 'District Name', 'Address', 'City and Zip Code', 'Principal', 'Performance Index Percent 2015-16']

Columns in achievement_ratings_16_17 after update: ['Building IRN', 'Building Name', 'District IRN', 'District Name', 'Address', 'City and Zip Code', 'Principal', 'Performance Index Percent 2016-17']

Columns in achievement_ratings_17_18 after update: ['Building IRN', 'Building Name', 'District IRN', 'District Name', 'Address', 'City and Zip', 'Principal', 'Performance Index Percent 2017-18']

Columns in overview_17_18 after update: ['District IRN', 'District Name', 'Building IRN', 'Building Name', 'Address', 'City, State, Zip', 'Principal', 'Enrollment 2017-2018', 'Performance Index Percent']

Columns in ratings_15_16 after update: ['District IRN', 'District Name', 'Building IRN', 'Building Name', 'Address', 'City, State, Zip', 'Principal', 'Enrollment 2015-2016', 'Performance Index Percent', 'Letter Grade of Overall Value Added']

Columns in ratings_16_17 after update: ['District IRN', 'District Name', 'Building IRN', 'Building Name', 'Address', 'City, State, Zip', 'Principal', 'Enrollment 2016-2017', 'Performance Index Percent']

Columns in value_added_15_16 after update: ['District IRN', 'District Name', 'Building IRN', 'Building Name', 'Overall Value Added Grade']

Columns in value_added_16_17 after update: ['District IRN', 'District Name', 'Building IRN', 'Building Name', 'Overall Value Added Grade']

Columns in value_added_17_18 after update: ['District IRN', 'District Name', 'Building IRN', 'Building Name', 'Overall Value Added Grade']

In [3]:
# Clean; check for null values

for name, dataframe in all_df.items():
    null_counts = dataframe.isnull().sum()
    print(f"Null value counts in {name}:\n{null_counts}\n")

Null value counts in achievement_ratings_15_16:
Building IRN                           0
Building Name                          0
District IRN                           0
District Name                          0
Address                                0
City and Zip Code                      0
Principal                            122
Performance Index Percent 2015-16      0
dtype: int64

Null value counts in achievement_ratings_16_17:
Building IRN                           0
Building Name                          0
District IRN                           0
District Name                          0
Address                                0
City and Zip Code                      0
Principal                            150
Performance Index Percent 2016-17      0
dtype: int64

Null value counts in achievement_ratings_17_18:
Building IRN                           0
Building Name                          0
District IRN                           0
District Name                          0
Address                                0
City and Zip                           0
Principal                            137
Performance Index Percent 2017-18      0
dtype: int64

Null value counts in overview_17_18:
District IRN                   0
District Name                  0
Building IRN                   0
Building Name                  0
Address                        0
City, State, Zip               0
Principal                    137
Enrollment 2017-2018           0
Performance Index Percent      0
dtype: int64

Null value counts in ratings_15_16:
District IRN                             0
District Name                            0
Building IRN                             0
Building Name                            0
Address                                  0
City, State, Zip                         0
Principal                              122
Enrollment 2015-2016                     0
Performance Index Percent                0
Letter Grade of Overall Value Added      0
dtype: int64

Null value counts in ratings_16_17:
District IRN                   0
District Name                  0
Building IRN                   0
Building Name                  0
Address                        0
City, State, Zip               0
Principal                    144
Enrollment 2016-2017           0
Performance Index Percent      0
dtype: int64

Null value counts in value_added_15_16:
District IRN                 0
District Name                0
Building IRN                 0
Building Name                0
Overall Value Added Grade    0
dtype: int64

Null value counts in value_added_16_17:
District IRN                 0
District Name                0
Building IRN                 0
Building Name                0
Overall Value Added Grade    0
dtype: int64

Null value counts in value_added_17_18:
District IRN                 0
District Name                0
Building IRN                 0
Building Name                0
Overall Value Added Grade    0
dtype: int64

In [4]:
# Check to see if data set has principal column, if it does replace any nulls with 'unlisted'
for name, dataframe in all_df.items():
    if 'Principal' in dataframe.columns:
        dataframe['Principal'] = dataframe['Principal'].fillna('Unlisted')

# Check for null values again
for name, dataframe in all_df.items():
    null_counts = dataframe.isnull().sum()
    print(f"Null value counts in {name}:\n{null_counts}\n")

Null value counts in achievement_ratings_15_16:
Building IRN                         0
Building Name                        0
District IRN                         0
District Name                        0
Address                              0
City and Zip Code                    0
Principal                            0
Performance Index Percent 2015-16    0
dtype: int64

Null value counts in achievement_ratings_16_17:
Building IRN                         0
Building Name                        0
District IRN                         0
District Name                        0
Address                              0
City and Zip Code                    0
Principal                            0
Performance Index Percent 2016-17    0
dtype: int64

Null value counts in achievement_ratings_17_18:
Building IRN                         0
Building Name                        0
District IRN                         0
District Name                        0
Address                              0
City and Zip                         0
Principal                            0
Performance Index Percent 2017-18    0
dtype: int64

Null value counts in overview_17_18:
District IRN                 0
District Name                0
Building IRN                 0
Building Name                0
Address                      0
City, State, Zip             0
Principal                    0
Enrollment 2017-2018         0
Performance Index Percent    0
dtype: int64

Null value counts in ratings_15_16:
District IRN                           0
District Name                          0
Building IRN                           0
Building Name                          0
Address                                0
City, State, Zip                       0
Principal                              0
Enrollment 2015-2016                   0
Performance Index Percent              0
Letter Grade of Overall Value Added    0
dtype: int64

Null value counts in ratings_16_17:
District IRN                 0
District Name                0
Building IRN                 0
Building Name                0
Address                      0
City, State, Zip             0
Principal                    0
Enrollment 2016-2017         0
Performance Index Percent    0
dtype: int64

Null value counts in value_added_15_16:
District IRN                 0
District Name                0
Building IRN                 0
Building Name                0
Overall Value Added Grade    0
dtype: int64

Null value counts in value_added_16_17:
District IRN                 0
District Name                0
Building IRN                 0
Building Name                0
Overall Value Added Grade    0
dtype: int64

Null value counts in value_added_17_18:
District IRN                 0
District Name                0
Building IRN                 0
Building Name                0
Overall Value Added Grade    0
dtype: int64

In [5]:
# Define a mapping of old column names to new column names for each dataset
column_name_changes = {
    'overview_17_18': {
        'Performance Index Percent': 'Performance Index Percent 2017-18'
    },
    'ratings_15_16': {
        'Performance Index Percent': 'Performance Index Percent 2015-16',
        'Letter Grade of Overall Value Added': 'Overall Value Added Grade 2015-16'
    },
    'ratings_16_17': {
        'Performance Index Percent': 'Performance Index Percent 2016-17'
    },
    'value_added_15_16': {
        'Overall Value Added Grade': 'Overall Value Added Grade 2015-16'
    },
    'value_added_16_17': {
        'Overall Value Added Grade': 'Overall Value Added Grade 2016-17'
    },
    'value_added_17_18': {
        'Overall Value Added Grade': 'Overall Value Added Grade 2017-18'
    }
}

# Apply the column name changes for each dataset
for name, changes in column_name_changes.items():
    dataframe = all_df[name]
    # Use rename with columns parameter and inplace=True to change the names directly in the DataFrame
    dataframe.rename(columns=changes, inplace=True)

# Print the new column names to verify the changes
for name, dataframe in all_df.items():
    print(f"Columns in {name}: {dataframe.columns.tolist()}\n")

Columns in achievement_ratings_15_16: ['Building IRN', 'Building Name', 'District IRN', 'District Name', 'Address', 'City and Zip Code', 'Principal', 'Performance Index Percent 2015-16']

Columns in achievement_ratings_16_17: ['Building IRN', 'Building Name', 'District IRN', 'District Name', 'Address', 'City and Zip Code', 'Principal', 'Performance Index Percent 2016-17']

Columns in achievement_ratings_17_18: ['Building IRN', 'Building Name', 'District IRN', 'District Name', 'Address', 'City and Zip', 'Principal', 'Performance Index Percent 2017-18']

Columns in overview_17_18: ['District IRN', 'District Name', 'Building IRN', 'Building Name', 'Address', 'City, State, Zip', 'Principal', 'Enrollment 2017-2018', 'Performance Index Percent 2017-18']

Columns in ratings_15_16: ['District IRN', 'District Name', 'Building IRN', 'Building Name', 'Address', 'City, State, Zip', 'Principal', 'Enrollment 2015-2016', 'Performance Index Percent 2015-16', 'Overall Value Added Grade 2015-16']

Columns in ratings_16_17: ['District IRN', 'District Name', 'Building IRN', 'Building Name', 'Address', 'City, State, Zip', 'Principal', 'Enrollment 2016-2017', 'Performance Index Percent 2016-17']

Columns in value_added_15_16: ['District IRN', 'District Name', 'Building IRN', 'Building Name', 'Overall Value Added Grade 2015-16']

Columns in value_added_16_17: ['District IRN', 'District Name', 'Building IRN', 'Building Name', 'Overall Value Added Grade 2016-17']

Columns in value_added_17_18: ['District IRN', 'District Name', 'Building IRN', 'Building Name', 'Overall Value Added Grade 2017-18']

In [6]:
# Define IRN for Cleveland Metropolitan School District schools
# Use an integer for the IRN since the data is stored as int64
cmsd_irn = 43786  

# Create new dataframe with only CMSD schools
filtered_df = {}
for name, dataframe in all_df.items():
    if 'District IRN' in dataframe.columns:
        filtered_df[name] = dataframe.loc[dataframe['District IRN'] == cmsd_irn]
    else:
        print(f"'District IRN' column not found in {name}")

all_df = filtered_df


from IPython.display import display

for name, dataframe in all_df.items():
    print(f"Top 10 rows of {name}:")
    display(dataframe.head(10))
    print(f"Bottom 10 rows of {name}:")
    display(dataframe.tail(10))

Top 10 rows of achievement_ratings_15_16:

,Building IRN,Building Name,District IRN,District Name,Address,City and Zip Code,Principal,Performance Index Percent 2015-16
20,224,Adlai Stevenson School,43786,Cleveland Municipal,18300 Woda Avenue,"Cleveland, OH, 44122-6441",Christopher T. Wyland,36.6
83,489,Almira,43786,Cleveland Municipal,3375 W 99th St,"Cleveland, OH, 44102-4642",Laverne Hooks,38.7
137,729,Andrew J Rickoff,43786,Cleveland Municipal,3500 E 147th St,"Cleveland, OH, 44120-4834",Gloriane R. Smith,36.9
154,828,Anton Grdina,43786,Cleveland Municipal,2955 E 71st St,"Cleveland, OH, 44104-4101",Harold S. Booker,32.4
192,1040,Artemus Ward,43786,Cleveland Municipal,4315 W 140th St,"Cleveland, OH, 44135-2128",Chris P. Myslenski,47.3
274,2378,Benjamin Franklin,43786,Cleveland Municipal,1905 Spring Rd,"Cleveland, OH, 44109-4460",Rachel J. Snider,54.1
317,3137,Bolton,43786,Cleveland Municipal,9803 Quebec Ave,"Cleveland, OH, 44106-3519",Juliet M. King,30.5
379,4234,Buhrer,43786,Cleveland Municipal,1600 Buhrer Ave,"Cleveland, OH, 44109-1747",michele sanchez,59.8
429,5066,Case,43786,Cleveland Municipal,4050 Superior Ave,"Cleveland, OH, 44103-1128",Brandee M. Carson-jones,32.3
457,5637,Alfred Benesch,43786,Cleveland Municipal,5393 Quincy Ave,"Cleveland, OH, 44104-4409",Latosha M. Glass,32.7

Bottom 10 rows of achievement_ratings_15_16:

,Building IRN,Building Name,District IRN,District Name,Address,City and Zip Code,Principal,Performance Index Percent 2015-16
2891,62760,Luis Munoz Marin School,43786,Cleveland Municipal,1701 Castle Ave,"Cleveland, OH, 44113-5262",Ricardo A. Torres,34.6
2892,62778,Joseph M Gallagher School,43786,Cleveland Municipal,6601 Franklin Blvd,"Cleveland, OH, 44102-2913",Thomas Kubiak,40.8
2894,63461,Garrett Morgan Schl Of Science School,43786,Cleveland Municipal,4016 Woodbine Ave,"Cleveland, OH, 44113-3286",Yolanda N. Eiland,43.4
2914,64576,Cleveland School Of The Arts High School,43786,Cleveland Municipal,2064 Stearns Rd,"Cleveland, OH, 44106-3050",John M. LePelley,55.4
2943,65565,Marion C Seltzer Elementary School,43786,Cleveland Municipal,1468 W 98th St,"Cleveland, OH, 44102-2616",Caitlin E. Kilbane,42.6
2944,65573,Marion-Sterling Elementary School,43786,Cleveland Municipal,3033 Central Ave,"Cleveland, OH, 44115-3044",Adrianna J. Chestnut,41.9
2987,68221,Kenneth W Clement,43786,Cleveland Municipal,14311 Woodworth Rd,"Cleveland, OH, 44112-1926",Jacky C. Brown,38.8
3027,86306,Health Careers Center High School,43786,Cleveland Municipal,1651 E 71st St,"Cleveland, OH, 44103-4023",Latonia M. Davis,32.6
3361,147389,SuccessTech Academy School,43786,Cleveland Municipal,1440 Lakeside Ave E,"Cleveland, OH, 44114-1137",Phillip B. Schwenk,NC
3362,147397,Cleveland School of Science & Medicine,43786,Cleveland Municipal,2075 Stokes Blvd,"Cleveland, OH, 44106-3051",Edward J. Weber,76

Top 10 rows of achievement_ratings_16_17:

,Building IRN,Building Name,District IRN,District Name,Address,City and Zip Code,Principal,Performance Index Percent 2016-17
20,224,Adlai Stevenson School,43786,Cleveland Municipal,18300 Woda Avenue,"Cleveland, OH, 44122-6441",Christopher T. Wyland,41.1
44,318,Menlo Park Academy,43786,Cleveland Municipal,14440 Triskett Rd,"Cleveland, OH, 44111-2263",Unlisted,88.7
83,489,Almira,43786,Cleveland Municipal,3375 W 99th St,"Cleveland, OH, 44102-4642",James Greene,39.0
137,729,Andrew J Rickoff,43786,Cleveland Municipal,3500 E 147th St,"Cleveland, OH, 44120-4834",SHELBY R. SCHUTT,39.3
153,828,Anton Grdina,43786,Cleveland Municipal,2955 E 71st St,"Cleveland, OH, 44104-4101",Harold S. Booker,33.6
179,930,Cleveland Entrepreneurship Preparatory School,43786,Cleveland Municipal,1417 E 36th St Fl 2,"Cleveland, OH, 44114-4116",Unlisted,62.6
191,1040,Artemus Ward,43786,Cleveland Municipal,4315 W 140th St,"Cleveland, OH, 44135-2128",Chris P. Myslenski,50.8
272,2378,Benjamin Franklin,43786,Cleveland Municipal,1905 Spring Rd,"Cleveland, OH, 44109-4460",Rachel J. Snider,53.6
315,3137,Bolton,43786,Cleveland Municipal,9803 Quebec Ave,"Cleveland, OH, 44106-3519",Juliet M. King,34.3
376,4234,Buhrer,43786,Cleveland Municipal,1600 Buhrer Ave,"Cleveland, OH, 44109-1747",michele sanchez,64.2

Bottom 10 rows of achievement_ratings_16_17:

,Building IRN,Building Name,District IRN,District Name,Address,City and Zip Code,Principal,Performance Index Percent 2016-17
2881,63461,Garrett Morgan Schl Of Science School,43786,Cleveland Municipal,4016 Woodbine Ave,"Cleveland, OH, 44113-3286",Quenton R. Davis,44.6
2902,64576,Cleveland School Of The Arts High School,43786,Cleveland Municipal,2064 Stearns Rd,"Cleveland, OH, 44106-3050",John M. LePelley,55.4
2931,65565,Marion C Seltzer Elementary School,43786,Cleveland Municipal,1468 W 98th St,"Cleveland, OH, 44102-2616",Caitlin E. Kilbane,40.7
2932,65573,Marion-Sterling Elementary School,43786,Cleveland Municipal,3033 Central Ave,"Cleveland, OH, 44115-3044",Adrianna J. Chestnut,40.9
2975,68221,Kenneth W Clement,43786,Cleveland Municipal,14311 Woodworth Rd,"Cleveland, OH, 44112-1926",John T. Story,43.8
3015,86306,Health Careers Center High School,43786,Cleveland Municipal,1651 E 71st St,"Cleveland, OH, 44103-4023",Latonia M. Davis,35.8
3170,133215,"Intergenerational School, The",43786,Cleveland Municipal,11327 Shaker Blvd Ste 200 E.,"Cleveland, OH, 44104-3805",Silvia Kruger,72.2
3183,133520,Citizens Academy,43786,Cleveland Municipal,10118 Hampden Ave,"Cleveland, OH, 44108-3538",Kimberly A. Peterlin,66.1
3348,147389,SuccessTech Academy School,43786,Cleveland Municipal,1440 Lakeside Ave E,"Cleveland, OH, 44114-1137",Phillip B. Schwenk,25.9
3349,147397,Cleveland School of Science & Medicine,43786,Cleveland Municipal,2075 Stokes Blvd,"Cleveland, OH, 44106-3051",Michelle R. Perez,78.8

Top 10 rows of achievement_ratings_17_18:

,Building IRN,Building Name,District IRN,District Name,Address,City and Zip,Principal,Performance Index Percent 2017-18
24,224,Adlai Stevenson School,43786,Cleveland Municipal,18300 Woda Avenue,"Cleveland, OH, 44122-6441",Christopher T. Wyland,40.1
49,318,Menlo Park Academy,43786,Cleveland Municipal,2149 W 53rd St,"Cleveland, OH, 44102-2263",Stacy J. Stuhldreher,90.7
88,489,Almira,43786,Cleveland Municipal,3375 W 99th St,"Cleveland, OH, 44102-4642",James Greene,41.6
143,729,Andrew J Rickoff,43786,Cleveland Municipal,3500 E 147th St,"Cleveland, OH, 44120-4834",SHELBY R. SCHUTT,41.6
160,828,Anton Grdina,43786,Cleveland Municipal,2955 E 71st St,"Cleveland, OH, 44104-4101",Harold S. Booker,35.6
188,930,Cleveland Entrepreneurship Preparatory School,43786,Cleveland Municipal,1417 E 36th St Fl 2,"Cleveland, OH, 44114-4116",Unlisted,63.9
190,936,Promise Academy,43786,Cleveland Municipal,1701 E 13th St,"Cleveland, OH, 44114-3227",Unlisted,37.2
202,1040,Artemus Ward,43786,Cleveland Municipal,4315 W 140th St,"Cleveland, OH, 44135-2128",Chris P. Myslenski,54.4
283,2378,Benjamin Franklin,43786,Cleveland Municipal,1905 Spring Rd,"Cleveland, OH, 44109-4460",Rachel J. Snider,58.2
325,3137,Bolton,43786,Cleveland Municipal,9803 Quebec Ave,"Cleveland, OH, 44106-3519",Juliet M. King,31.9

Bottom 10 rows of achievement_ratings_17_18:

,Building IRN,Building Name,District IRN,District Name,Address,City and Zip,Principal,Performance Index Percent 2017-18
2911,63461,Garrett Morgan Schl Of Science School,43786,Cleveland Municipal,4016 Woodbine Ave,"Cleveland, OH, 44113-3286",Quenton R. Davis,44.8
2930,64576,Cleveland School Of The Arts High School,43786,Cleveland Municipal,2064 Stearns Rd,"Cleveland, OH, 44106-3050",John M. LePelley,62.6
2959,65565,Marion C Seltzer Elementary School,43786,Cleveland Municipal,1468 W 98th St,"Cleveland, OH, 44102-2616",Caitlin E. Kilbane,45.2
2960,65573,Marion-Sterling Elementary School,43786,Cleveland Municipal,3033 Central Ave,"Cleveland, OH, 44115-3044",Kelly L. Gibbs,44.9
3002,68221,Kenneth W Clement,43786,Cleveland Municipal,14311 Woodworth Rd,"Cleveland, OH, 44112-1926",John T. Story,48.9
3042,86306,Martin Luther King Jr. Campus,43786,Cleveland Municipal,1651 E 71st St,"Cleveland, OH, 44103-4023",Latonia M. Davis,38.2
3198,133215,"Intergenerational School, The",43786,Cleveland Municipal,11327 Shaker Blvd Ste 200 E.,"Cleveland, OH, 44104-3805",Silvia Kruger,65.7
3214,133520,Citizens Academy,43786,Cleveland Municipal,10118 Hampden Ave,"Cleveland, OH, 44108-3538",Kimberly A. Peterlin,64.5
3219,133629,Horizon Science Acad Cleveland,43786,Cleveland Municipal,6000 S Marginal Rd,"Cleveland, OH, 44103-1042",Mehmet I. Gurbuz,50.1
3390,147397,Cleveland School of Science & Medicine,43786,Cleveland Municipal,2075 Stokes Blvd,"Cleveland, OH, 44106-3051",Michelle R. Perez,80

Top 10 rows of overview_17_18:

,District IRN,District Name,Building IRN,Building Name,Address,"City, State, Zip",Principal,Enrollment 2017-2018,Performance Index Percent 2017-18
24,43786,Cleveland Municipal,224,Adlai Stevenson School,18300 Woda Avenue,"Cleveland, OH, 44122-6441",Christopher T. Wyland,443,40.1
49,43786,Cleveland Municipal,318,Menlo Park Academy,2149 W 53rd St,"Cleveland, OH, 44102-2263",Stacy J. Stuhldreher,418,90.7
88,43786,Cleveland Municipal,489,Almira,3375 W 99th St,"Cleveland, OH, 44102-4642",James Greene,547,41.6
143,43786,Cleveland Municipal,729,Andrew J Rickoff,3500 E 147th St,"Cleveland, OH, 44120-4834",SHELBY R. SCHUTT,441,41.6
160,43786,Cleveland Municipal,828,Anton Grdina,2955 E 71st St,"Cleveland, OH, 44104-4101",Harold S. Booker,396,35.6
188,43786,Cleveland Municipal,930,Cleveland Entrepreneurship Preparatory School,1417 E 36th St Fl 2,"Cleveland, OH, 44114-4116",Unlisted,322,63.9
190,43786,Cleveland Municipal,936,Promise Academy,1701 E 13th St,"Cleveland, OH, 44114-3227",Unlisted,209,37.2
202,43786,Cleveland Municipal,1040,Artemus Ward,4315 W 140th St,"Cleveland, OH, 44135-2128",Chris P. Myslenski,513,54.4
283,43786,Cleveland Municipal,2378,Benjamin Franklin,1905 Spring Rd,"Cleveland, OH, 44109-4460",Rachel J. Snider,615,58.2
325,43786,Cleveland Municipal,3137,Bolton,9803 Quebec Ave,"Cleveland, OH, 44106-3519",Juliet M. King,330,31.9

Bottom 10 rows of overview_17_18:

,District IRN,District Name,Building IRN,Building Name,Address,"City, State, Zip",Principal,Enrollment 2017-2018,Performance Index Percent 2017-18
2911,43786,Cleveland Municipal,63461,Garrett Morgan Schl Of Science School,4016 Woodbine Ave,"Cleveland, OH, 44113-3286",Quenton R. Davis,229,44.8
2930,43786,Cleveland Municipal,64576,Cleveland School Of The Arts High School,2064 Stearns Rd,"Cleveland, OH, 44106-3050",John M. LePelley,473,62.6
2959,43786,Cleveland Municipal,65565,Marion C Seltzer Elementary School,1468 W 98th St,"Cleveland, OH, 44102-2616",Caitlin E. Kilbane,430,45.2
2960,43786,Cleveland Municipal,65573,Marion-Sterling Elementary School,3033 Central Ave,"Cleveland, OH, 44115-3044",Kelly L. Gibbs,335,44.9
3002,43786,Cleveland Municipal,68221,Kenneth W Clement,14311 Woodworth Rd,"Cleveland, OH, 44112-1926",John T. Story,173,48.9
3042,43786,Cleveland Municipal,86306,Martin Luther King Jr. Campus,1651 E 71st St,"Cleveland, OH, 44103-4023",Latonia M. Davis,356,38.2
3198,43786,Cleveland Municipal,133215,"Intergenerational School, The",11327 Shaker Blvd Ste 200 E.,"Cleveland, OH, 44104-3805",Silvia Kruger,247,65.7
3214,43786,Cleveland Municipal,133520,Citizens Academy,10118 Hampden Ave,"Cleveland, OH, 44108-3538",Kimberly A. Peterlin,410,64.5
3219,43786,Cleveland Municipal,133629,Horizon Science Acad Cleveland,6000 S Marginal Rd,"Cleveland, OH, 44103-1042",Mehmet I. Gurbuz,440,50.1
3390,43786,Cleveland Municipal,147397,Cleveland School of Science & Medicine,2075 Stokes Blvd,"Cleveland, OH, 44106-3051",Michelle R. Perez,401,80

Top 10 rows of ratings_15_16:

,District IRN,District Name,Building IRN,Building Name,Address,"City, State, Zip",Principal,Enrollment 2015-2016,Performance Index Percent 2015-16,Overall Value Added Grade 2015-16
447,43786,Cleveland Municipal City,224,Adlai Stevenson School,18300 Woda Avenue,"Cleveland, OH, 44122-6441",Christopher T. Wyland,430,36.6,F
448,43786,Cleveland Municipal City,318,Menlo Park Academy,14440 Triskett Rd,"Cleveland, OH, 44111-2263",Unlisted,367,92.3,C
449,43786,Cleveland Municipal City,489,Almira,3375 W 99th St,"Cleveland, OH, 44102-4642",Laverne Hooks,499,38.7,F
450,43786,Cleveland Municipal City,729,Andrew J Rickoff,3500 E 147th St,"Cleveland, OH, 44120-4834",Gloriane R. Smith,477,36.9,F
451,43786,Cleveland Municipal City,828,Anton Grdina,2955 E 71st St,"Cleveland, OH, 44104-4101",Harold S. Booker,371,32.4,F
452,43786,Cleveland Municipal City,930,Cleveland Entrepreneurship Preparatory School,1417 E 36th St Fl 2,"Cleveland, OH, 44114-4116",Tiara S. Jordan,295,61.3,A
453,43786,Cleveland Municipal City,1040,Artemus Ward,4315 W 140th St,"Cleveland, OH, 44135-2128",Chris P. Myslenski,491,47.3,F
454,43786,Cleveland Municipal City,2378,Benjamin Franklin,1905 Spring Rd,"Cleveland, OH, 44109-4460",Rachel J. Snider,602,54.1,F
455,43786,Cleveland Municipal City,3137,Bolton,9803 Quebec Ave,"Cleveland, OH, 44106-3519",Juliet M. King,346,30.5,F
456,43786,Cleveland Municipal City,4234,Buhrer,1600 Buhrer Ave,"Cleveland, OH, 44109-1747",michele sanchez,393,59.8,F

Bottom 10 rows of ratings_15_16:

,District IRN,District Name,Building IRN,Building Name,Address,"City, State, Zip",Principal,Enrollment 2015-2016,Performance Index Percent 2015-16,Overall Value Added Grade 2015-16
554,43786,Cleveland Municipal City,63461,Garrett Morgan Schl Of Science School,4016 Woodbine Ave,"Cleveland, OH, 44113-3286",Yolanda N. Eiland,252,43.4,D
555,43786,Cleveland Municipal City,64576,Cleveland School Of The Arts High School,2064 Stearns Rd,"Cleveland, OH, 44106-3050",John M. LePelley,584,55.4,F
556,43786,Cleveland Municipal City,65565,Marion C Seltzer Elementary School,1468 W 98th St,"Cleveland, OH, 44102-2616",Caitlin E. Kilbane,360,42.6,F
557,43786,Cleveland Municipal City,65573,Marion-Sterling Elementary School,3033 Central Ave,"Cleveland, OH, 44115-3044",Adrianna J. Chestnut,318,41.9,B
558,43786,Cleveland Municipal City,68221,Kenneth W Clement,14311 Woodworth Rd,"Cleveland, OH, 44112-1926",Jacky C. Brown,200,38.8,F
559,43786,Cleveland Municipal City,86306,Health Careers Center High School,1651 E 71st St,"Cleveland, OH, 44103-4023",Latonia M. Davis,434,32.6,F
560,43786,Cleveland Municipal City,133215,"Intergenerational School, The",11327 Shaker Blvd Ste 200 E.,"Cleveland, OH, 44104-3805",Silvia Kruger,250,64.3,C
561,43786,Cleveland Municipal City,133520,Citizens Academy,10118 Hampden Ave,"Cleveland, OH, 44108-3538",Kimberly A. Peterlin,446,62.9,F
562,43786,Cleveland Municipal City,147389,SuccessTech Academy School,1440 Lakeside Ave E,"Cleveland, OH, 44114-1137",Phillip B. Schwenk,85,NC,NR
563,43786,Cleveland Municipal City,147397,Cleveland School of Science & Medicine,2075 Stokes Blvd,"Cleveland, OH, 44106-3051",Edward J. Weber,382,76.0,A

Top 10 rows of ratings_16_17:

,District IRN,District Name,Building IRN,Building Name,Address,"City, State, Zip",Principal,Enrollment 2016-2017,Performance Index Percent 2016-17
441,43786,Cleveland Municipal City,224,Adlai Stevenson School,18300 Woda Avenue,"Cleveland, OH, 44122-6441",Christopher T. Wyland,445,41.1
442,43786,Cleveland Municipal City,318,Menlo Park Academy,14440 Triskett Rd,"Cleveland, OH, 44111-2263",Stacy J. Stuhldreher,405,88.7
443,43786,Cleveland Municipal City,489,Almira,3375 W 99th St,"Cleveland, OH, 44102-4642",James Greene,491,39.0
444,43786,Cleveland Municipal City,729,Andrew J Rickoff,3500 E 147th St,"Cleveland, OH, 44120-4834",SHELBY R. SCHUTT,457,39.3
445,43786,Cleveland Municipal City,828,Anton Grdina,2955 E 71st St,"Cleveland, OH, 44104-4101",Harold S. Booker,361,33.6
446,43786,Cleveland Municipal City,930,Cleveland Entrepreneurship Preparatory School,1417 E 36th St Fl 2,"Cleveland, OH, 44114-4116",Unlisted,311,62.6
447,43786,Cleveland Municipal City,1040,Artemus Ward,4315 W 140th St,"Cleveland, OH, 44135-2128",Chris P. Myslenski,514,50.8
448,43786,Cleveland Municipal City,2378,Benjamin Franklin,1905 Spring Rd,"Cleveland, OH, 44109-4460",Rachel J. Snider,652,53.6
449,43786,Cleveland Municipal City,3137,Bolton,9803 Quebec Ave,"Cleveland, OH, 44106-3519",Juliet M. King,318,34.3
450,43786,Cleveland Municipal City,4234,Buhrer,1600 Buhrer Ave,"Cleveland, OH, 44109-1747",michele sanchez,391,64.2

Bottom 10 rows of ratings_16_17:

,District IRN,District Name,Building IRN,Building Name,Address,"City, State, Zip",Principal,Enrollment 2016-2017,Performance Index Percent 2016-17
547,43786,Cleveland Municipal City,62778,Joseph M Gallagher School,6601 Franklin Blvd,"Cleveland, OH, 44102-2913",Thomas Kubiak,781,43.2
548,43786,Cleveland Municipal City,63461,Garrett Morgan Schl Of Science School,4016 Woodbine Ave,"Cleveland, OH, 44113-3286",Quenton R. Davis,253,44.6
549,43786,Cleveland Municipal City,64576,Cleveland School Of The Arts High School,2064 Stearns Rd,"Cleveland, OH, 44106-3050",John M. LePelley,542,55.4
550,43786,Cleveland Municipal City,65565,Marion C Seltzer Elementary School,1468 W 98th St,"Cleveland, OH, 44102-2616",Caitlin E. Kilbane,397,40.7
551,43786,Cleveland Municipal City,65573,Marion-Sterling Elementary School,3033 Central Ave,"Cleveland, OH, 44115-3044",Kelly L. Gibbs,328,40.9
552,43786,Cleveland Municipal City,68221,Kenneth W Clement,14311 Woodworth Rd,"Cleveland, OH, 44112-1926",John T. Story,190,43.8
553,43786,Cleveland Municipal City,86306,Health Careers Center High School,1651 E 71st St,"Cleveland, OH, 44103-4023",Latonia M. Davis,379,35.8
554,43786,Cleveland Municipal City,133215,"Intergenerational School, The",11327 Shaker Blvd Ste 200 E.,"Cleveland, OH, 44104-3805",Silvia Kruger,241,72.2
555,43786,Cleveland Municipal City,147389,SuccessTech Academy School,1440 Lakeside Ave E,"Cleveland, OH, 44114-1137",Phillip B. Schwenk,48,25.9
556,43786,Cleveland Municipal City,147397,Cleveland School of Science & Medicine,2075 Stokes Blvd,"Cleveland, OH, 44106-3051",Michelle R. Perez,404,78.8

Top 10 rows of value_added_15_16:

,District IRN,District Name,Building IRN,Building Name,Overall Value Added Grade 2015-16
447,43786,Cleveland Municipal City,224,Adlai Stevenson School,F
448,43786,Cleveland Municipal City,318,Menlo Park Academy,C
449,43786,Cleveland Municipal City,489,Almira,F
450,43786,Cleveland Municipal City,729,Andrew J Rickoff,F
451,43786,Cleveland Municipal City,828,Anton Grdina,F
452,43786,Cleveland Municipal City,930,Cleveland Entrepreneurship Preparatory School,A
453,43786,Cleveland Municipal City,1040,Artemus Ward,F
454,43786,Cleveland Municipal City,2378,Benjamin Franklin,F
455,43786,Cleveland Municipal City,3137,Bolton,F
456,43786,Cleveland Municipal City,4234,Buhrer,F

Bottom 10 rows of value_added_15_16:

,District IRN,District Name,Building IRN,Building Name,Overall Value Added Grade 2015-16
554,43786,Cleveland Municipal City,63461,Garrett Morgan Schl Of Science School,D
555,43786,Cleveland Municipal City,64576,Cleveland School Of The Arts High School,F
556,43786,Cleveland Municipal City,65565,Marion C Seltzer Elementary School,F
557,43786,Cleveland Municipal City,65573,Marion-Sterling Elementary School,B
558,43786,Cleveland Municipal City,68221,Kenneth W Clement,F
559,43786,Cleveland Municipal City,86306,Health Careers Center High School,F
560,43786,Cleveland Municipal City,133215,"Intergenerational School, The",C
561,43786,Cleveland Municipal City,133520,Citizens Academy,F
562,43786,Cleveland Municipal City,147389,SuccessTech Academy School,NR
563,43786,Cleveland Municipal City,147397,Cleveland School of Science & Medicine,A

Top 10 rows of value_added_16_17:

,District IRN,District Name,Building IRN,Building Name,Overall Value Added Grade 2016-17
439,43786,Cleveland Municipal City,224,Adlai Stevenson School,F
440,43786,Cleveland Municipal City,318,Menlo Park Academy,F
441,43786,Cleveland Municipal City,489,Almira,F
442,43786,Cleveland Municipal City,729,Andrew J Rickoff,F
443,43786,Cleveland Municipal City,828,Anton Grdina,F
444,43786,Cleveland Municipal City,930,Cleveland Entrepreneurship Preparatory School,A
445,43786,Cleveland Municipal City,1040,Artemus Ward,F
446,43786,Cleveland Municipal City,2378,Benjamin Franklin,F
447,43786,Cleveland Municipal City,3137,Bolton,F
448,43786,Cleveland Municipal City,4234,Buhrer,F

Bottom 10 rows of value_added_16_17:

,District IRN,District Name,Building IRN,Building Name,Overall Value Added Grade 2016-17
548,43786,Cleveland Municipal City,63461,Garrett Morgan Schl Of Science School,D
549,43786,Cleveland Municipal City,64576,Cleveland School Of The Arts High School,F
550,43786,Cleveland Municipal City,65565,Marion C Seltzer Elementary School,F
551,43786,Cleveland Municipal City,65573,Marion-Sterling Elementary School,D
552,43786,Cleveland Municipal City,68221,Kenneth W Clement,F
553,43786,Cleveland Municipal City,86306,Health Careers Center High School,F
554,43786,Cleveland Municipal City,133215,"Intergenerational School, The",C
555,43786,Cleveland Municipal City,133520,Citizens Academy,F
556,43786,Cleveland Municipal City,147389,SuccessTech Academy School,D
557,43786,Cleveland Municipal City,147397,Cleveland School of Science & Medicine,A

Top 10 rows of value_added_17_18:

,District IRN,District Name,Building IRN,Building Name,Overall Value Added Grade 2017-18
467,43786,Cleveland Municipal,224,Adlai Stevenson School,F
468,43786,Cleveland Municipal,318,Menlo Park Academy,F
469,43786,Cleveland Municipal,489,Almira,F
470,43786,Cleveland Municipal,729,Andrew J Rickoff,F
471,43786,Cleveland Municipal,828,Anton Grdina,F
472,43786,Cleveland Municipal,930,Cleveland Entrepreneurship Preparatory School,A
473,43786,Cleveland Municipal,936,Promise Academy,NR
474,43786,Cleveland Municipal,1040,Artemus Ward,C
475,43786,Cleveland Municipal,2378,Benjamin Franklin,F
476,43786,Cleveland Municipal,3137,Bolton,F

Bottom 10 rows of value_added_17_18:

,District IRN,District Name,Building IRN,Building Name,Overall Value Added Grade 2017-18
580,43786,Cleveland Municipal,63461,Garrett Morgan Schl Of Science School,F
581,43786,Cleveland Municipal,64576,Cleveland School Of The Arts High School,F
582,43786,Cleveland Municipal,65565,Marion C Seltzer Elementary School,F
583,43786,Cleveland Municipal,65573,Marion-Sterling Elementary School,F
584,43786,Cleveland Municipal,68221,Kenneth W Clement,F
585,43786,Cleveland Municipal,86306,Martin Luther King Jr. Campus,F
586,43786,Cleveland Municipal,133215,"Intergenerational School, The",C
587,43786,Cleveland Municipal,133520,Citizens Academy,F
588,43786,Cleveland Municipal,133629,Horizon Science Acad Cleveland,D
589,43786,Cleveland Municipal,147397,Cleveland School of Science & Medicine,A

In [7]:
# Drop 'District IRN' and 'District Name' columns from each DataFrame
for name, dataframe in all_df.items():
    if 'District IRN' in dataframe.columns and 'District Name' in dataframe.columns:
        # inplace=True modifies the existing DataFrame without the need to assign it back
        dataframe.drop(['District IRN', 'District Name'], axis=1, inplace=True)

# Print the column names of each DataFrame to verify
for name, dataframe in all_df.items():
    print(f"Columns in {name}: {dataframe.columns.tolist()}\n")

Columns in achievement_ratings_15_16: ['Building IRN', 'Building Name', 'Address', 'City and Zip Code', 'Principal', 'Performance Index Percent 2015-16']

Columns in achievement_ratings_16_17: ['Building IRN', 'Building Name', 'Address', 'City and Zip Code', 'Principal', 'Performance Index Percent 2016-17']

Columns in achievement_ratings_17_18: ['Building IRN', 'Building Name', 'Address', 'City and Zip', 'Principal', 'Performance Index Percent 2017-18']

Columns in overview_17_18: ['Building IRN', 'Building Name', 'Address', 'City, State, Zip', 'Principal', 'Enrollment 2017-2018', 'Performance Index Percent 2017-18']

Columns in ratings_15_16: ['Building IRN', 'Building Name', 'Address', 'City, State, Zip', 'Principal', 'Enrollment 2015-2016', 'Performance Index Percent 2015-16', 'Overall Value Added Grade 2015-16']

Columns in ratings_16_17: ['Building IRN', 'Building Name', 'Address', 'City, State, Zip', 'Principal', 'Enrollment 2016-2017', 'Performance Index Percent 2016-17']

Columns in value_added_15_16: ['Building IRN', 'Building Name', 'Overall Value Added Grade 2015-16']

Columns in value_added_16_17: ['Building IRN', 'Building Name', 'Overall Value Added Grade 2016-17']

Columns in value_added_17_18: ['Building IRN', 'Building Name', 'Overall Value Added Grade 2017-18']

In [8]:
# Review head and tail of each dataset for accuracy
for name, dataframe in all_df.items():
    print(f"Top 10 rows of {name}:")
    display(dataframe.head(10))
    print(f"Bottom 10 rows of {name}:")
    display(dataframe.tail(10))

Top 10 rows of achievement_ratings_15_16:

,Building IRN,Building Name,Address,City and Zip Code,Principal,Performance Index Percent 2015-16
20,224,Adlai Stevenson School,18300 Woda Avenue,"Cleveland, OH, 44122-6441",Christopher T. Wyland,36.6
83,489,Almira,3375 W 99th St,"Cleveland, OH, 44102-4642",Laverne Hooks,38.7
137,729,Andrew J Rickoff,3500 E 147th St,"Cleveland, OH, 44120-4834",Gloriane R. Smith,36.9
154,828,Anton Grdina,2955 E 71st St,"Cleveland, OH, 44104-4101",Harold S. Booker,32.4
192,1040,Artemus Ward,4315 W 140th St,"Cleveland, OH, 44135-2128",Chris P. Myslenski,47.3
274,2378,Benjamin Franklin,1905 Spring Rd,"Cleveland, OH, 44109-4460",Rachel J. Snider,54.1
317,3137,Bolton,9803 Quebec Ave,"Cleveland, OH, 44106-3519",Juliet M. King,30.5
379,4234,Buhrer,1600 Buhrer Ave,"Cleveland, OH, 44109-1747",michele sanchez,59.8
429,5066,Case,4050 Superior Ave,"Cleveland, OH, 44103-1128",Brandee M. Carson-jones,32.3
457,5637,Alfred Benesch,5393 Quincy Ave,"Cleveland, OH, 44104-4409",Latosha M. Glass,32.7

Bottom 10 rows of achievement_ratings_15_16:

,Building IRN,Building Name,Address,City and Zip Code,Principal,Performance Index Percent 2015-16
2891,62760,Luis Munoz Marin School,1701 Castle Ave,"Cleveland, OH, 44113-5262",Ricardo A. Torres,34.6
2892,62778,Joseph M Gallagher School,6601 Franklin Blvd,"Cleveland, OH, 44102-2913",Thomas Kubiak,40.8
2894,63461,Garrett Morgan Schl Of Science School,4016 Woodbine Ave,"Cleveland, OH, 44113-3286",Yolanda N. Eiland,43.4
2914,64576,Cleveland School Of The Arts High School,2064 Stearns Rd,"Cleveland, OH, 44106-3050",John M. LePelley,55.4
2943,65565,Marion C Seltzer Elementary School,1468 W 98th St,"Cleveland, OH, 44102-2616",Caitlin E. Kilbane,42.6
2944,65573,Marion-Sterling Elementary School,3033 Central Ave,"Cleveland, OH, 44115-3044",Adrianna J. Chestnut,41.9
2987,68221,Kenneth W Clement,14311 Woodworth Rd,"Cleveland, OH, 44112-1926",Jacky C. Brown,38.8
3027,86306,Health Careers Center High School,1651 E 71st St,"Cleveland, OH, 44103-4023",Latonia M. Davis,32.6
3361,147389,SuccessTech Academy School,1440 Lakeside Ave E,"Cleveland, OH, 44114-1137",Phillip B. Schwenk,NC
3362,147397,Cleveland School of Science & Medicine,2075 Stokes Blvd,"Cleveland, OH, 44106-3051",Edward J. Weber,76

Top 10 rows of achievement_ratings_16_17:

,Building IRN,Building Name,Address,City and Zip Code,Principal,Performance Index Percent 2016-17
20,224,Adlai Stevenson School,18300 Woda Avenue,"Cleveland, OH, 44122-6441",Christopher T. Wyland,41.1
44,318,Menlo Park Academy,14440 Triskett Rd,"Cleveland, OH, 44111-2263",Unlisted,88.7
83,489,Almira,3375 W 99th St,"Cleveland, OH, 44102-4642",James Greene,39.0
137,729,Andrew J Rickoff,3500 E 147th St,"Cleveland, OH, 44120-4834",SHELBY R. SCHUTT,39.3
153,828,Anton Grdina,2955 E 71st St,"Cleveland, OH, 44104-4101",Harold S. Booker,33.6
179,930,Cleveland Entrepreneurship Preparatory School,1417 E 36th St Fl 2,"Cleveland, OH, 44114-4116",Unlisted,62.6
191,1040,Artemus Ward,4315 W 140th St,"Cleveland, OH, 44135-2128",Chris P. Myslenski,50.8
272,2378,Benjamin Franklin,1905 Spring Rd,"Cleveland, OH, 44109-4460",Rachel J. Snider,53.6
315,3137,Bolton,9803 Quebec Ave,"Cleveland, OH, 44106-3519",Juliet M. King,34.3
376,4234,Buhrer,1600 Buhrer Ave,"Cleveland, OH, 44109-1747",michele sanchez,64.2

Bottom 10 rows of achievement_ratings_16_17:

,Building IRN,Building Name,Address,City and Zip Code,Principal,Performance Index Percent 2016-17
2881,63461,Garrett Morgan Schl Of Science School,4016 Woodbine Ave,"Cleveland, OH, 44113-3286",Quenton R. Davis,44.6
2902,64576,Cleveland School Of The Arts High School,2064 Stearns Rd,"Cleveland, OH, 44106-3050",John M. LePelley,55.4
2931,65565,Marion C Seltzer Elementary School,1468 W 98th St,"Cleveland, OH, 44102-2616",Caitlin E. Kilbane,40.7
2932,65573,Marion-Sterling Elementary School,3033 Central Ave,"Cleveland, OH, 44115-3044",Adrianna J. Chestnut,40.9
2975,68221,Kenneth W Clement,14311 Woodworth Rd,"Cleveland, OH, 44112-1926",John T. Story,43.8
3015,86306,Health Careers Center High School,1651 E 71st St,"Cleveland, OH, 44103-4023",Latonia M. Davis,35.8
3170,133215,"Intergenerational School, The",11327 Shaker Blvd Ste 200 E.,"Cleveland, OH, 44104-3805",Silvia Kruger,72.2
3183,133520,Citizens Academy,10118 Hampden Ave,"Cleveland, OH, 44108-3538",Kimberly A. Peterlin,66.1
3348,147389,SuccessTech Academy School,1440 Lakeside Ave E,"Cleveland, OH, 44114-1137",Phillip B. Schwenk,25.9
3349,147397,Cleveland School of Science & Medicine,2075 Stokes Blvd,"Cleveland, OH, 44106-3051",Michelle R. Perez,78.8

Top 10 rows of achievement_ratings_17_18:

,Building IRN,Building Name,Address,City and Zip,Principal,Performance Index Percent 2017-18
24,224,Adlai Stevenson School,18300 Woda Avenue,"Cleveland, OH, 44122-6441",Christopher T. Wyland,40.1
49,318,Menlo Park Academy,2149 W 53rd St,"Cleveland, OH, 44102-2263",Stacy J. Stuhldreher,90.7
88,489,Almira,3375 W 99th St,"Cleveland, OH, 44102-4642",James Greene,41.6
143,729,Andrew J Rickoff,3500 E 147th St,"Cleveland, OH, 44120-4834",SHELBY R. SCHUTT,41.6
160,828,Anton Grdina,2955 E 71st St,"Cleveland, OH, 44104-4101",Harold S. Booker,35.6
188,930,Cleveland Entrepreneurship Preparatory School,1417 E 36th St Fl 2,"Cleveland, OH, 44114-4116",Unlisted,63.9
190,936,Promise Academy,1701 E 13th St,"Cleveland, OH, 44114-3227",Unlisted,37.2
202,1040,Artemus Ward,4315 W 140th St,"Cleveland, OH, 44135-2128",Chris P. Myslenski,54.4
283,2378,Benjamin Franklin,1905 Spring Rd,"Cleveland, OH, 44109-4460",Rachel J. Snider,58.2
325,3137,Bolton,9803 Quebec Ave,"Cleveland, OH, 44106-3519",Juliet M. King,31.9

Bottom 10 rows of achievement_ratings_17_18:

,Building IRN,Building Name,Address,City and Zip,Principal,Performance Index Percent 2017-18
2911,63461,Garrett Morgan Schl Of Science School,4016 Woodbine Ave,"Cleveland, OH, 44113-3286",Quenton R. Davis,44.8
2930,64576,Cleveland School Of The Arts High School,2064 Stearns Rd,"Cleveland, OH, 44106-3050",John M. LePelley,62.6
2959,65565,Marion C Seltzer Elementary School,1468 W 98th St,"Cleveland, OH, 44102-2616",Caitlin E. Kilbane,45.2
2960,65573,Marion-Sterling Elementary School,3033 Central Ave,"Cleveland, OH, 44115-3044",Kelly L. Gibbs,44.9
3002,68221,Kenneth W Clement,14311 Woodworth Rd,"Cleveland, OH, 44112-1926",John T. Story,48.9
3042,86306,Martin Luther King Jr. Campus,1651 E 71st St,"Cleveland, OH, 44103-4023",Latonia M. Davis,38.2
3198,133215,"Intergenerational School, The",11327 Shaker Blvd Ste 200 E.,"Cleveland, OH, 44104-3805",Silvia Kruger,65.7
3214,133520,Citizens Academy,10118 Hampden Ave,"Cleveland, OH, 44108-3538",Kimberly A. Peterlin,64.5
3219,133629,Horizon Science Acad Cleveland,6000 S Marginal Rd,"Cleveland, OH, 44103-1042",Mehmet I. Gurbuz,50.1
3390,147397,Cleveland School of Science & Medicine,2075 Stokes Blvd,"Cleveland, OH, 44106-3051",Michelle R. Perez,80

Top 10 rows of overview_17_18:

,Building IRN,Building Name,Address,"City, State, Zip",Principal,Enrollment 2017-2018,Performance Index Percent 2017-18
24,224,Adlai Stevenson School,18300 Woda Avenue,"Cleveland, OH, 44122-6441",Christopher T. Wyland,443,40.1
49,318,Menlo Park Academy,2149 W 53rd St,"Cleveland, OH, 44102-2263",Stacy J. Stuhldreher,418,90.7
88,489,Almira,3375 W 99th St,"Cleveland, OH, 44102-4642",James Greene,547,41.6
143,729,Andrew J Rickoff,3500 E 147th St,"Cleveland, OH, 44120-4834",SHELBY R. SCHUTT,441,41.6
160,828,Anton Grdina,2955 E 71st St,"Cleveland, OH, 44104-4101",Harold S. Booker,396,35.6
188,930,Cleveland Entrepreneurship Preparatory School,1417 E 36th St Fl 2,"Cleveland, OH, 44114-4116",Unlisted,322,63.9
190,936,Promise Academy,1701 E 13th St,"Cleveland, OH, 44114-3227",Unlisted,209,37.2
202,1040,Artemus Ward,4315 W 140th St,"Cleveland, OH, 44135-2128",Chris P. Myslenski,513,54.4
283,2378,Benjamin Franklin,1905 Spring Rd,"Cleveland, OH, 44109-4460",Rachel J. Snider,615,58.2
325,3137,Bolton,9803 Quebec Ave,"Cleveland, OH, 44106-3519",Juliet M. King,330,31.9

Bottom 10 rows of overview_17_18:

,Building IRN,Building Name,Address,"City, State, Zip",Principal,Enrollment 2017-2018,Performance Index Percent 2017-18
2911,63461,Garrett Morgan Schl Of Science School,4016 Woodbine Ave,"Cleveland, OH, 44113-3286",Quenton R. Davis,229,44.8
2930,64576,Cleveland School Of The Arts High School,2064 Stearns Rd,"Cleveland, OH, 44106-3050",John M. LePelley,473,62.6
2959,65565,Marion C Seltzer Elementary School,1468 W 98th St,"Cleveland, OH, 44102-2616",Caitlin E. Kilbane,430,45.2
2960,65573,Marion-Sterling Elementary School,3033 Central Ave,"Cleveland, OH, 44115-3044",Kelly L. Gibbs,335,44.9
3002,68221,Kenneth W Clement,14311 Woodworth Rd,"Cleveland, OH, 44112-1926",John T. Story,173,48.9
3042,86306,Martin Luther King Jr. Campus,1651 E 71st St,"Cleveland, OH, 44103-4023",Latonia M. Davis,356,38.2
3198,133215,"Intergenerational School, The",11327 Shaker Blvd Ste 200 E.,"Cleveland, OH, 44104-3805",Silvia Kruger,247,65.7
3214,133520,Citizens Academy,10118 Hampden Ave,"Cleveland, OH, 44108-3538",Kimberly A. Peterlin,410,64.5
3219,133629,Horizon Science Acad Cleveland,6000 S Marginal Rd,"Cleveland, OH, 44103-1042",Mehmet I. Gurbuz,440,50.1
3390,147397,Cleveland School of Science & Medicine,2075 Stokes Blvd,"Cleveland, OH, 44106-3051",Michelle R. Perez,401,80

Top 10 rows of ratings_15_16:

,Building IRN,Building Name,Address,"City, State, Zip",Principal,Enrollment 2015-2016,Performance Index Percent 2015-16,Overall Value Added Grade 2015-16
447,224,Adlai Stevenson School,18300 Woda Avenue,"Cleveland, OH, 44122-6441",Christopher T. Wyland,430,36.6,F
448,318,Menlo Park Academy,14440 Triskett Rd,"Cleveland, OH, 44111-2263",Unlisted,367,92.3,C
449,489,Almira,3375 W 99th St,"Cleveland, OH, 44102-4642",Laverne Hooks,499,38.7,F
450,729,Andrew J Rickoff,3500 E 147th St,"Cleveland, OH, 44120-4834",Gloriane R. Smith,477,36.9,F
451,828,Anton Grdina,2955 E 71st St,"Cleveland, OH, 44104-4101",Harold S. Booker,371,32.4,F
452,930,Cleveland Entrepreneurship Preparatory School,1417 E 36th St Fl 2,"Cleveland, OH, 44114-4116",Tiara S. Jordan,295,61.3,A
453,1040,Artemus Ward,4315 W 140th St,"Cleveland, OH, 44135-2128",Chris P. Myslenski,491,47.3,F
454,2378,Benjamin Franklin,1905 Spring Rd,"Cleveland, OH, 44109-4460",Rachel J. Snider,602,54.1,F
455,3137,Bolton,9803 Quebec Ave,"Cleveland, OH, 44106-3519",Juliet M. King,346,30.5,F
456,4234,Buhrer,1600 Buhrer Ave,"Cleveland, OH, 44109-1747",michele sanchez,393,59.8,F

Bottom 10 rows of ratings_15_16:

,Building IRN,Building Name,Address,"City, State, Zip",Principal,Enrollment 2015-2016,Performance Index Percent 2015-16,Overall Value Added Grade 2015-16
554,63461,Garrett Morgan Schl Of Science School,4016 Woodbine Ave,"Cleveland, OH, 44113-3286",Yolanda N. Eiland,252,43.4,D
555,64576,Cleveland School Of The Arts High School,2064 Stearns Rd,"Cleveland, OH, 44106-3050",John M. LePelley,584,55.4,F
556,65565,Marion C Seltzer Elementary School,1468 W 98th St,"Cleveland, OH, 44102-2616",Caitlin E. Kilbane,360,42.6,F
557,65573,Marion-Sterling Elementary School,3033 Central Ave,"Cleveland, OH, 44115-3044",Adrianna J. Chestnut,318,41.9,B
558,68221,Kenneth W Clement,14311 Woodworth Rd,"Cleveland, OH, 44112-1926",Jacky C. Brown,200,38.8,F
559,86306,Health Careers Center High School,1651 E 71st St,"Cleveland, OH, 44103-4023",Latonia M. Davis,434,32.6,F
560,133215,"Intergenerational School, The",11327 Shaker Blvd Ste 200 E.,"Cleveland, OH, 44104-3805",Silvia Kruger,250,64.3,C
561,133520,Citizens Academy,10118 Hampden Ave,"Cleveland, OH, 44108-3538",Kimberly A. Peterlin,446,62.9,F
562,147389,SuccessTech Academy School,1440 Lakeside Ave E,"Cleveland, OH, 44114-1137",Phillip B. Schwenk,85,NC,NR
563,147397,Cleveland School of Science & Medicine,2075 Stokes Blvd,"Cleveland, OH, 44106-3051",Edward J. Weber,382,76.0,A

Top 10 rows of ratings_16_17:

,Building IRN,Building Name,Address,"City, State, Zip",Principal,Enrollment 2016-2017,Performance Index Percent 2016-17
441,224,Adlai Stevenson School,18300 Woda Avenue,"Cleveland, OH, 44122-6441",Christopher T. Wyland,445,41.1
442,318,Menlo Park Academy,14440 Triskett Rd,"Cleveland, OH, 44111-2263",Stacy J. Stuhldreher,405,88.7
443,489,Almira,3375 W 99th St,"Cleveland, OH, 44102-4642",James Greene,491,39.0
444,729,Andrew J Rickoff,3500 E 147th St,"Cleveland, OH, 44120-4834",SHELBY R. SCHUTT,457,39.3
445,828,Anton Grdina,2955 E 71st St,"Cleveland, OH, 44104-4101",Harold S. Booker,361,33.6
446,930,Cleveland Entrepreneurship Preparatory School,1417 E 36th St Fl 2,"Cleveland, OH, 44114-4116",Unlisted,311,62.6
447,1040,Artemus Ward,4315 W 140th St,"Cleveland, OH, 44135-2128",Chris P. Myslenski,514,50.8
448,2378,Benjamin Franklin,1905 Spring Rd,"Cleveland, OH, 44109-4460",Rachel J. Snider,652,53.6
449,3137,Bolton,9803 Quebec Ave,"Cleveland, OH, 44106-3519",Juliet M. King,318,34.3
450,4234,Buhrer,1600 Buhrer Ave,"Cleveland, OH, 44109-1747",michele sanchez,391,64.2

Bottom 10 rows of ratings_16_17:

,Building IRN,Building Name,Address,"City, State, Zip",Principal,Enrollment 2016-2017,Performance Index Percent 2016-17
547,62778,Joseph M Gallagher School,6601 Franklin Blvd,"Cleveland, OH, 44102-2913",Thomas Kubiak,781,43.2
548,63461,Garrett Morgan Schl Of Science School,4016 Woodbine Ave,"Cleveland, OH, 44113-3286",Quenton R. Davis,253,44.6
549,64576,Cleveland School Of The Arts High School,2064 Stearns Rd,"Cleveland, OH, 44106-3050",John M. LePelley,542,55.4
550,65565,Marion C Seltzer Elementary School,1468 W 98th St,"Cleveland, OH, 44102-2616",Caitlin E. Kilbane,397,40.7
551,65573,Marion-Sterling Elementary School,3033 Central Ave,"Cleveland, OH, 44115-3044",Kelly L. Gibbs,328,40.9
552,68221,Kenneth W Clement,14311 Woodworth Rd,"Cleveland, OH, 44112-1926",John T. Story,190,43.8
553,86306,Health Careers Center High School,1651 E 71st St,"Cleveland, OH, 44103-4023",Latonia M. Davis,379,35.8
554,133215,"Intergenerational School, The",11327 Shaker Blvd Ste 200 E.,"Cleveland, OH, 44104-3805",Silvia Kruger,241,72.2
555,147389,SuccessTech Academy School,1440 Lakeside Ave E,"Cleveland, OH, 44114-1137",Phillip B. Schwenk,48,25.9
556,147397,Cleveland School of Science & Medicine,2075 Stokes Blvd,"Cleveland, OH, 44106-3051",Michelle R. Perez,404,78.8

Top 10 rows of value_added_15_16:

,Building IRN,Building Name,Overall Value Added Grade 2015-16
447,224,Adlai Stevenson School,F
448,318,Menlo Park Academy,C
449,489,Almira,F
450,729,Andrew J Rickoff,F
451,828,Anton Grdina,F
452,930,Cleveland Entrepreneurship Preparatory School,A
453,1040,Artemus Ward,F
454,2378,Benjamin Franklin,F
455,3137,Bolton,F
456,4234,Buhrer,F

Bottom 10 rows of value_added_15_16:

,Building IRN,Building Name,Overall Value Added Grade 2015-16
554,63461,Garrett Morgan Schl Of Science School,D
555,64576,Cleveland School Of The Arts High School,F
556,65565,Marion C Seltzer Elementary School,F
557,65573,Marion-Sterling Elementary School,B
558,68221,Kenneth W Clement,F
559,86306,Health Careers Center High School,F
560,133215,"Intergenerational School, The",C
561,133520,Citizens Academy,F
562,147389,SuccessTech Academy School,NR
563,147397,Cleveland School of Science & Medicine,A

Top 10 rows of value_added_16_17:

,Building IRN,Building Name,Overall Value Added Grade 2016-17
439,224,Adlai Stevenson School,F
440,318,Menlo Park Academy,F
441,489,Almira,F
442,729,Andrew J Rickoff,F
443,828,Anton Grdina,F
444,930,Cleveland Entrepreneurship Preparatory School,A
445,1040,Artemus Ward,F
446,2378,Benjamin Franklin,F
447,3137,Bolton,F
448,4234,Buhrer,F

Bottom 10 rows of value_added_16_17:

,Building IRN,Building Name,Overall Value Added Grade 2016-17
548,63461,Garrett Morgan Schl Of Science School,D
549,64576,Cleveland School Of The Arts High School,F
550,65565,Marion C Seltzer Elementary School,F
551,65573,Marion-Sterling Elementary School,D
552,68221,Kenneth W Clement,F
553,86306,Health Careers Center High School,F
554,133215,"Intergenerational School, The",C
555,133520,Citizens Academy,F
556,147389,SuccessTech Academy School,D
557,147397,Cleveland School of Science & Medicine,A

Top 10 rows of value_added_17_18:

,Building IRN,Building Name,Overall Value Added Grade 2017-18
467,224,Adlai Stevenson School,F
468,318,Menlo Park Academy,F
469,489,Almira,F
470,729,Andrew J Rickoff,F
471,828,Anton Grdina,F
472,930,Cleveland Entrepreneurship Preparatory School,A
473,936,Promise Academy,NR
474,1040,Artemus Ward,C
475,2378,Benjamin Franklin,F
476,3137,Bolton,F

Bottom 10 rows of value_added_17_18:

,Building IRN,Building Name,Overall Value Added Grade 2017-18
580,63461,Garrett Morgan Schl Of Science School,F
581,64576,Cleveland School Of The Arts High School,F
582,65565,Marion C Seltzer Elementary School,F
583,65573,Marion-Sterling Elementary School,F
584,68221,Kenneth W Clement,F
585,86306,Martin Luther King Jr. Campus,F
586,133215,"Intergenerational School, The",C
587,133520,Citizens Academy,F
588,133629,Horizon Science Acad Cleveland,D
589,147397,Cleveland School of Science & Medicine,A

In [ ]:
# For careful and detailed data manipulation, dataframes are exported to one Excel sheet with an extra column added labeling what dataset each row was from
# Add a 'Source Dataset' column to each DataFrame
for name, dataframe in all_df.items():
    dataframe['Source Dataset'] = name 

# Concatenate all DataFrames into a single DataFrame
combined_df = pd.concat(all_df.values(), ignore_index=True)

# Export the combined DataFrame to an Excel file
output_file_path = r'C:\Users\sdnea\Documents\Data Science\CMSD Project\CMSD_Project_Combined_Data.xlsx'  # Specify your desired output file path
combined_df.to_excel(output_file_path, index=False)